body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #666;
}

h1 {
    color: #444;
    margin-top: 25px;
}

h2 {
    color: #444;
    margin-top: 20px;
}

p {
    color: #666;
}
.gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
}
.gallery img {
            width: 400px;
            object-fit: cover;
            margin: 10px;
            border: 1px solid #333;
}
